body{
    font-family: 'Kalam', cursive;;
background: moccasin;
   }
   .header_div{
   background: white;
   color: orangered;
   }
   .header_div p{
       font-family:  'Kalam', cursive;;
   color: royalblue;
   letter-spacing: 2px;
   font-size: 30px;
font-weight: bold;    
}
.main_div button{
   font-family: 'Kalam', cursive;;
margin-top: 30px;
width: 500px;
font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer{
   position: fixed;
   color: mediumblue;
   bottom: 0;
   width: 100%;
   font-size: 18px;
background-color: white;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}